{% extends 'base.html' %}

{% block title %}{{movie.title}}{% endblock %}

{% block head %}
<!-- Insert here what we may need -->
{% endblock %}

{% block body %}
  <h1>{{movie.title}}</h1>
  <p>{{movie.overview}}</p>

  <img src="{{movie.poster_path}}">
  <p>{{movie.release_date}}</p>


   <h2>Add a rating to {{movie.title}}</h2>
  <form action="/ratings/{{movie.movie_id}}" method="POST">
    <p>
      score <input type="text" name="score">
    </p>

      <input type="submit">
    </p>
  </form>




{% endblock %}